manifest {
  author = 'Sherrie Wang, Dan Fornika'
  name = 'BCCDC-PHL/cgmlst_clustering-nf'
  version = '0.1.1'
  description = 'BCCDC-PHL cgMLST and clustering'
  mainScript = 'main.nf'
  nextflowVersion = '>=20.01.0'
}

params {
  outdir="."
  runClustering = false
  threshold=50
  linkage_type='complete'
  samplesheet_input = 'NO_FILE'
  mode = 'ignore-missing'
}

profiles {
  conda {
     process.conda = "$baseDir/environments/environment.yml"
     if (params.cache){
       conda.cacheDir = params.cache
     }
  }

  apptainer {
      apptainer.enabled = true
      process.container = "oras://ghcr.io/bccdc-phl/cgmlst-clustering:2117e4b6a7943865"
      if (params.cache){
        apptainer.cacheDir = params.cache
      }
  }
}
